* {
    margin: 0px;
    padding: 0px;
}

/* blue bar styles */
#header_1 {
    width: 100%;
    max-width: 100%;
    padding: 0;
    background-color: rgb(0, 209, 209);
    background-position: center;
    position: fixed;
    background-size: cover;
}

/* Keeps company logo size and location just right */
#header_1 img {
    max-width: 320px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box
}

/* Style the tab */
.linkbar {
    float: right;
    border: 1px solid cyan;
    background-color: rgb(0, 209, 209);
    width: 90%;
    height: 89.7vh;
    position: relative;
}

/* Style the buttons that are used to open the tab content */
.linkbar ul li {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

/* Change background color of buttons on hover */
.linkbar ul li:hover {
    background-color: rgb(0, 170, 204);
}

/* Create an active/current "tab button" class */
.linkbar ul li.active {
    background-color: #ccc;
}

.linkbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* grid panel nice and oganised */
.container_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 30px 0.2fr 2fr;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100%;
}

.header {
    grid-area: 1 / 1 / 2 / 5;
}

.menu {
    grid-area: 2 / 4 / 5 / 5;
}


/* text style */
.text-erea-1 {
    grid-area:  2 / 1 / 3 / 4;
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-erea-2 {
    grid-area: 4 / 1 / 5 / 4;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.textbox {
    border: 2px rgb(0, 170, 204) solid;
    background-color: rgba(130, 130, 130, 0.622);
    height: 40%;
    margin: 15px;
    padding: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.427);
}


/* set font-type of all text */
.text{
    font-family: "Comic Sans MS";
}
