* {
    margin: 0px;
    padding: 0px;
}

.selection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.selection ul li {
    height: 100%;
    list-style: none;
}

.flex_row{
    display: flex;
}

.selection ul li a{
    margin-right: 12px;
    text-decoration: none;
    background-color: rgba(130, 130, 130, 0.627);
    color: dodgerblue;
    transition: 0.6233454545343s;
    padding: 10px;
    box-shadow: 2px 2px rgba(130, 130, 130, 0.427);
    border: 1px solid rgb(44, 151, 151);
}

.selection ul li a:hover{
    background-color: dodgerblue;
    color: aqua;
    box-shadow: 2px 2px rgba(150, 73, 143, 0.227);
    font-size: 40px;
}

/* blue bar styles */
#header_1 {
    width: 100%;
    max-width: 100%;
    padding: 0;
    background-color: rgb(0, 209, 209);
    background-position: center;
    background-size: cover;
    height: 100%;
}

/* Keeps company logo size and location just right */
#header_1 img {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

* {
    box-sizing: border-box
}

.container_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.2fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header menu"
        "text-erea-1 text-erea-1 text-erea-1 menu"
        "text-erea-2 text-erea-2 text-erea-2 menu";
    height: 100vh;
}

.header {
    grid-area: header;
}

.text-erea-1 {
    grid-area: text-erea-1;
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-erea-2 {
    grid-area: text-erea-2;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.menu {
    grid-area: menu;
}

/* text style */

.textbox {
    border: 2px rgb(0, 170, 204) solid;
    background-color: rgba(130, 130, 130, 0.622);
    height: 40%;
    margin: 15px;
    padding: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.427);
    transition: 0.5s;
}


/* set font-type of all text */
.text {
    font-family: "Agency FB";
    color: white;
    font: 14px;
}

h3 {
    font: 20px;
}

@media only screen and (max-width: 420px) {
    .container_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.25fr 0.2fr 1fr;
        grid-auto-columns: 1fr;
        gap: 11px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header header header"
            "menu menu menu menu"
            "text-erea-1 text-erea-1 text-erea-1 text-erea-1"
            "text-erea-2 text-erea-2 text-erea-2 text-erea-2";
        height: 100vh;
    }

    .header {
        grid-area: header;
    }

    .text-erea-1 {
        grid-area: text-erea-1;
        color: rgb(255, 255, 255);
        font-size: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .text-erea-2 {
        grid-area: text-erea-2;
        color: rgb(230, 200, 230);
        font-size: 25px;
    }

    .textbox {
        border: 2px rgb(0, 170, 204) solid;
        background-color: rgba(139, 130, 130, 0.622);
        height: 100px;
        width: 385px;
        margin: 15px;
        padding: 5px;
        box-shadow: 2px 2px rgba(250, 173, 243, 0.427);
    }

    .flex_img {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    #header_1 img {
        max-width: 250px;
        height: auto;
    }

    .selection ul li a{
        font-size: 8px;
        margin-right: 3px;
        font-size: 16px;
    }

    .selection ul li a:hover{
        background-color: dodgerblue;
        color: aqua;
        box-shadow: 2px 2px rgba(150, 73, 143, 0.227);
        font-size: 8px;
    }
}


